@model UsuarioViewModel

<h2>Cadastro de Usuário</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Cadastro" method="post">

    <div class="form-group mb-3">
        <label>E-mail</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group mb-3">
        <label>Login</label>
        <input asp-for="Login" class="form-control" />
    </div>

    <div class="form-group mb-3">
        <label>Senha</label>
        <input asp-for="Senha" type="password" class="form-control" />
    </div>

    <div class="form-group mb-3">
        <label>Confirmar Senha</label>
        <input asp-for="ConfirmarSenha" type="password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">
        Cadastrar
    </button>

</form>